/* ==UserStyle==
@name           Spotify
@namespace      ashyboxy.xyz/styles/spotify
@version        1.0.0
@description    green music app 🥀
@author         AshyBoxy
==/UserStyle== */

@-moz-document domain("open.spotify.com") {
    /* hide the install app button */
    a:has(> span[aria-hidden="true"] > svg > path[d="M4.995 8.745a.75.75 0 0 1 1.06 0L7.25 9.939V4a.75.75 0 0 1 1.5 0v5.94l1.195-1.195a.75.75 0 1 1 1.06 1.06L8 12.811l-.528-.528-.005-.005-2.472-2.473a.75.75 0 0 1 0-1.06"]) { /* this is the arrow in the install app icon */
        display: none;
    }
    
    /* hide the friend activity button */
    button[data-testid="friend-activity-button"] {
        display: none;
    }
    
    /* make the ai dj button less conspicuous */
    .vOIOYNxCLYIrEIrQ5zrF {
        background: transparent !important;
        outline: none !important;
        margin: 0;
    }
}
