/* ==UserStyle==
@name           AshyBoxy youtube styles
@namespace      ashyboxy.xyz/styles/youtube
@version        0.2.2
@description    youtube styles
@author         AshyBoxy
==/UserStyle== */
@-moz-document domain("youtube.com") {
    /* TODO:
        enabling channel avatars on sidebar recommended videos seems easily doable
    */

    /* videos per row */
    :root {
        --ashyboxy-videos-per-row: 3;
    }
    @media (min-width: 1100px) {
        :root {
            --ashyboxy-videos-per-row: 4;
        }
    }
    @media (min-width: 1500px) {
        :root {
            --ashyboxy-videos-per-row: 5;
        }
    }
    ytd-rich-grid-renderer {
        --ytd-rich-grid-items-per-row: var(--ashyboxy-videos-per-row) !important;
        --ytd-rich-grid-item-margin: 12px !important;
    }
    ytd-rich-item-renderer {
        --ytd-rich-grid-row-margin: 20px;
        margin-left: calc(var(--ytd-rich-grid-item-margin) / 2) !important;
    }

    /* hide create video and voice search header buttons */
    #buttons ytd-button-renderer.style-scope.ytd-masthead,
    #voice-search-button {
        display: none !important;
    }

    /* collapse videos from following rows onto rows with empty space */
    ytd-rich-section-renderer.style-scope.ytd-rich-grid-renderer {
        display: none !important;
    }

    /* for the next two, the item renderer is targetted to allow videos changing rows to work */
    /* hide dismissable content e.g. "how was this video" */
    ytd-rich-item-renderer:has(> #content > ytd-feed-nudge-renderer[is-dismissed] > #dismissed)
    /*ytd-rich-item-renderer:has(> #content > ytd-rich-grid-media > #dismissed)*/
        {
        display: none !important;
    }

    /* hide hidden videos (potentially other stuff too?) */
    ytd-rich-item-renderer:has(> #content > ytd-rich-grid-media[is-dismissed]) {
        display: none !important;
    }

    /* disable frosted glass effect on the main page header */
    /* TODO: the contents behind are visible through the header for a moment when scrolling down from the very top */
    #frosted-glass.with-chipbar.ytd-app {
        /* --yt-frosted-glass-desktop */
        background: rgb(15, 15, 15);
        backdrop-filter: none;
    }

    /* hide shorts shelf in watch next recommendations */
    /*ytd-item-section-renderer.ytd-watch-next-secondary-results-renderer > #contents >*/
    ytd-reel-shelf-renderer {
        display: none;
    }

    /* less rounded thumbnails */
    a#thumbnail {
        border-radius: 4px;
    }
    .yt-thumbnail-view-model--large, .ytThumbnailViewModelLarge {
        border-radius: 4px;
    }
    .yt-thumbnail-view-model--medium, .ytThumbnailViewModelMedium {
        border-radius: 4px;
    }
    /* mix stack */
    .collections-stack-wiz__collection-stack1, .collections-stack-wiz__collection-stack2 {
        border-radius: 4px;
    }

    /* webscrobbler text */
    #scrobbler-infobox-el {
        > span {
            /*opacity: 70%;*/
            color: var(--yt-spec-text-secondary);
            font-weight: 500;
        }
    }

    /* search bar */
    yt-searchbox {
        .ytSearchboxComponentInputBox {
            border-radius: 10px 0 0 10px;
        }
        .ytSearchboxComponentSearchButton {
            border-radius: 0 10px 10px 0;
            width: 48px;
        }
    }

    ytd-player {
        border-radius: 4px !important;
    }

    .yt-spec-button-shape-next--size-m {
        --ashyboxy-button-radius: 10px;
        border-radius: var(--ashyboxy-button-radius);
    }
    .yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--segmented-start {
        border-radius: var(--ashyboxy-button-radius) 0 0 var(--ashyboxy-button-radius);
    }
    .yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--segmented-end {
        border-radius: 0 var(--ashyboxy-button-radius) var(--ashyboxy-button-radius) 0;
    }
    ytd-button-renderer.ytd-live-chat-frame {
        /*border-radius: 4px !important;*/
        /* the border looks weird with no margin and i'm too lazy to fix it */
        margin: 4px !important;
        .yt-spec-button-shape-next {
            --ashyboxy-button-radius: 4px;
        }
    }

    .yt-spec-button-shape-next--size-xs {
        --ashyboxy-button-radius: 4px;
        border-radius: var(--ashyboxy-button-radius);
    }

    #description.ytd-watch-metadata, #description-interaction > div,
    #teaser-carousel > yt-video-metadata-carousel-view-model {
        border-radius: 4px;
    }

    .ytd-playlist-panel-renderer, ytd-live-chat-frame {
        border-radius: 6px !important;
    }

    .ytChipShapeChip {
        border-radius: 4px;
    }

    /* yt-lockup-view-model:has(notification-multi-action-renderer) {
        max-height: 40px;
    } */


    /* #region force small sidebar + horizontal sidebar recommendations */
    /* stop the ridiculous new massive thumbnails in the sidebar */
    /* notes:
        ytd-watch-flexy has an attribute for whether the recommended videos are on the side or below the video
        is-single-column for below
        is-two-columns_ for the side
    */

    /* TODO: use variables for this */
    ytd-watch-flexy {
        /* these two seem to default to 300px and 550px in the experiment flags youtube gives me, 200px and 700px in the flags someone else gets */
        --ashyboxy-flexy-sidebar-min-width: 300px;
        /* i use this because i like it, it's what "kevlar_watch_secondary_width" is in my flags. possibly that was used instead of max-width in the not big sidebar ui? */
        --ashyboxy-flexy-sidebar-max-width: 402px;
        /* is 168px in the flags i get, 62.5% in the flags someone else gets. "web_watch_compact_thumbnail_width_string" */
        --ashyboxy-flexy-thumbnail-width: 168px;
    }

    ytd-watch-flexy {
        /* !important because these are set on the element */
        /* --ytd-watch-flexy-sidebar-width: 402px !important; */
        --ytd-watch-compact-thumbnail-width: 168px !important;
        --ytd-watch-flexy-sidebar-min-width: var(--ashyboxy-flexy-sidebar-min-width) !important;
        --ytd-watch-flexy-sidebar-max-width: var(--ashyboxy-flexy-sidebar-max-width) !important;

        #secondary {
            /* this one is only used for calculations i think? so we need to set it manually */
            max-width: var(--ashyboxy-flexy-sidebar-max-width) !important;
        }
    }

    /* force related videos in two columns mode to always show horizontally
        youtube calculates which way it should be directed using some helper functions
        they're too obfuscated for me to figure out
        but .ytLockupViewModelVertical is used for e.g. in single column mode, so we can't just make it always horizontal
    */
    ytd-watch-flexy[is-two-columns_] {
        .ytLockupViewModelVertical {
            /* this is just copied from .ytLockupViewModelHorizontal */
            -moz-box-orient: horizontal;
            flex-direction: row;
            height: inherit;

            .ytLockupViewModelContentImage {
                /* undoing vertical rules */
                padding-bottom: inherit;
                -moz-box-align: inherit;
                align-items: inherit;
                /* horizontal rules */
                display: -moz-box;
                display: flex;
                -moz-box-flex: 0;
                flex: none;
                padding-right: 16px;
                -moz-box-pack: center;
                justify-content: center;
                max-width: 500px;
            }

            /* horizontal rules */
            .ytLockupViewModelMetadata {
                -moz-box-flex: 1;
                flex: 1;
            }

            > .ytLockupViewModelContentImage {
                width: 168px;
            }
        }

        /* undoing vertical rules */
        .ytLockupViewModelVertical.ytLockupViewModelRichGridLegacyMargin {
            /* TODO: this one might not be necessary? */
            .ytLockupViewModelContentImage {
                padding-bottom: inherit;
            }
        }

        /* horizontal rules */
        .ytLockupViewModelVertical.ytLockupViewModelCollectionStack1 {
            position: relative;
            margin-top: 6px;
        }
        .ytLockupViewModelVertical.ytLockupViewModelCollectionStack2 {
            position: relative;
            margin-top: 10px;
        }
        .ytLockupViewModelVertical.ytLockupViewModelCompact .ytLockupViewModelContentImage {
            padding-right: 8px;
        }

        /* it makes it a grid display if it's vertical apparently (rules for lockup container type 2) */
        ytd-item-section-renderer[lockup-container-type="2"][is-grid-view-enabled] #contents.ytd-item-section-renderer {
            display: inherit;
            width: inherit;
            /* other display differences are caused by grid specific display settings, so we're good */
        }

        /* metadata menu button (the three dots)
            it's moved to the bottom right in vertical related videos, and hidden when not hovered in the sidebar */
        .ytLockupMetadataViewModelMoveLockupOverflowMenuToBottomRight {
            min-height: inherit;
            .ytLockupMetadataViewModelTitle {
                padding-right: 24px;
            }
        }
        .ytLockupMetadataViewModelMenuButton.ytLockupMetadataViewModelBottomRight {
            transition: inherit;
            top: -6px;
            right: -10px;
            bottom: unset;
            transform: inherit;
            opacity: inherit;
        }

        /* thumbnail size */
        .ytLockupViewModelContentImage {
            /* set on the element */
            width: var(--ashyboxy-flexy-thumbnail-width) !important;
        }
    }
    /* #endregion force small sidebar + horizontal sidebar recommendations */
}
